/* .game-box {
    width: 30%;
    height: 30%;
    background-color: gray;


}

.game-image {
    width: 90%;
    height: auto;
    display: inline-flex;
    margin: 0 auto

}

#games-section {
    width: 1000px;
    height: 1000px;
}

#games-grid {
    width: 100%;
    height: 100%;
    display: flex;
}
 */

/* .game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
body {
    max-width: 1067px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 90px;
}

.thumbnail {
    max-width: 80px;
    max-height: 80px;

}

#game-table {
    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    vertical-align: center;
    border: 1px solid black;
    border-collapse: collapse

}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
height: 70%;
}

.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#game-trailer {
    width: 90%;
    height: 98%;
}
/* .star-rating div {
    display: block;
    padding: 0 0 5px 5px;
    clear: both;

} */

#leave-review {
    border: solid black 1px;
    margin-bottom: 20px;
}


.star-rating span {
    display: block;
    padding-left: 20px;
    cursor: inherit;

}

.star-rating label {
    font-size: rem-calc(16);

}

.star-rating input {
    float: left;
    width: 20px;
    margin-left: -20px;
    -webkit-appearance: radio;

}

form {
    padding: 20px;
    flex: auto;
}

.form-section {
    padding: 10px 0px;
    width: 300px;
    margin: 0px
}

select, .radio-buttons, #comment-field {
    margin: 4px 0px;
}

#comment-field {
    width: 250px;
    height: 180px;
}

#submit-button {
    width: 250px;
}

/* .form-column {
    display:block
} */
